:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: 242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  max-width: 1280px;
  margin: auto;
}

form {
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
}

.form-field {
  padding-bottom: 5px;
}

.admin-list {
  list-style: none;
  clear: both;
}


.admin-list li {
  border-bottom: 1px solid #efefef;
  clear: both;
  max-width: 500px;
}

.admin-list .content {
  float: left;
}

.admin-list .actions {
  float: right;
}

.new-credential a {
  display: block;
  padding-top: 20px;
  text-align: left;
}